.card{
 background-color: #ddd;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;

 .label{
  font-weight: bold;
 }

 .price{
  font-size: 10px;
 }
}